# Cloudflare D1 creds
# Follow these steps: https://orm.drizzle.team/docs/guides/d1-http-with-drizzle-kit
CLOUDFLARE_ACCOUNT_ID=your-account-id
CLOUDFLARE_DATABASE_ID=your-database-id
CLOUDFLARE_D1_TOKEN=your-d1-api-token